* {
  /* border: 1px solid red; */
}

.header {
  background-color: #1c1c1c;
  height: 70px;
  padding: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;
  height: 60px;
}
.logo,
.logo img {
  height: inherit;
}

.header-menu ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 250px;
}

a {
  color: white;
}

.header-menu {
  align-self: center;
}
